.dancing-script-tittle {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: white;
}

.color-header {
  background: linear-gradient(#9125CE, black);
}

